name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.tag_name }}

      - uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          registry-url: 'https://registry.npmjs.org'

      - name: Checks
        run: |
          set -xe
          npm ci
          # npm run checks:ci

      - name: Build
        run: |
          npm run build

      - name: Set package.json version to release
        run: |
          set -xe
          version=$(echo "${{ github.event.release.tag_name }}" | sed -E 's/.*([0-9]+\.[0-9]+\.[0-9]+).*/\1/')
          echo "version is set to $version"
          sed -i "s/\"version\": \".*\"/\"version\": \"$version\"/" package.json
          echo "package.json updated"
          cat package.json

      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm publish
